<%= form_with(model: pray_petition, html: { style: 'text-align: center;'}) do |form| %>
  <% if pray_petition.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pray_petition.errors.count, "error") %> prohibited this pray_petition from being saved:</h2>

      <ul>
        <% pray_petition.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label 'Nombre', style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label 'Teléfono', style: "display: block" %>
    <%= form.text_field :phone_number %>
  </div>

  <div>
    <%= form.label 'Petición de oración', style: "display: block" %>
    <%= form.text_area(:pray_for, size: '20x6', style: "width: 60%") %>
  </div>
  <sub>
    Tu privacidad es importante paran nosotros. <br>
    No compartiremos tu informaci&oacuten con nadie.
  </sub>

  <div>
    <%= form.submit 'Enviar Petición' %>
  </div>
<% end %>
