<%= form_with(model: pray_petition) do |form| %>
  <% if pray_petition.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(pray_petition.errors.count, "error") %> prohibited this pray_petition from being saved:</h2>

      <ul>
        <% pray_petition.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label 'Nombre', style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label 'Teléfono', style: "display: block" %>
    <%= form.text_field :phone_number %>
  </div>

  <div>
    <%= form.label 'Correo electrónico', style: "display: block" %>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.label 'Petición de oración', style: "display: block" %>
    <%= form.text_field :pray_for %>
  </div>

  <div>
    <%= form.submit 'Enviar Petición' %>
  </div>
<% end %>
