<div class="row">
  <div class="col-12">
    <%= form_with(model: pray_petition) do |form| %>
      <% if pray_petition.errors.any? %>
        <div style="color: red">
          <h2><%= pluralize(pray_petition.errors.count, "error") %> prohibited this pray_petition from being saved:</h2>

          <ul>
            <% pray_petition.errors.each do |error| %>
              <li><%= error.full_message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>
      <div class="row">
        <div class="col-sm-12 col-md-8">
        <%= form.label 'Nombre', class: 'form-label' %>
        <%= form.text_field :name, class: 'form-control' %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-8">
          <%= form.label 'Teléfono', class: 'form-label' %>
          <%= form.text_field :phone_number, class: 'form-control' %>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-8">
        <%= form.label 'Petición de oración', class: 'form-label' %>
        <%= form.text_area(:pray_for, size: '10x4', class: 'form-control') %>
        </div>
      </div>

      <div class="row privacy-box">
        <div class="col-sm-12 col-md-8">
          <sub>
            *Tu privacidad es importante paran nosotros.
            No compartiremos tu informaci&oacuten con nadie.
          </sub>
        </div>
      </div>

      <div class="row">
        <div class="col-sm-12 col-md-8">
          <%= form.submit 'Enviar Petición', class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
