<div id="<%= dom_id pray_petition %>">
  <p>
    <strong>Name:</strong>
    <%= pray_petition.name %>
  </p>

  <p>
    <strong>Phone number:</strong>
    <%= pray_petition.phone_number %>
  </p>

  <p>
    <strong>Email:</strong>
    <%= pray_petition.email %>
  </p>

  <p>
    <strong>Pray for:</strong>
    <%= pray_petition.pray_for %>
  </p>

</div>
