<%= render 'shared/nav_bar' %>
<div class="row justify-content-md-center">
  <p style="color: green"><%= notice %></p>
<div>
</div>
  <h3>Peticiones de oracion</h3>

  <div class="row mb-2">
    <div class="col-4">
      <%= link_to new_pray_petition_path, class: 'btn btn-success' do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus-square-fill" viewBox="0 0 16 16">
          <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2zm6.5 4.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3a.5.5 0 0 1 1 0z"/>
        </svg> Nueva Peticion
      <% end %>

    </div>
  </div>
  <br/>
  <div class="row">
    <% @pray_petitions.each do |pray_petition| %>
      <div class="col-sm-12 col-md-6">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title"><%= pray_petition.name %></h4>
            <div class="strong"><strong>Fecha: </strong><%= pray_petition.created_at.strftime('%d-%b-%Y') %></div>
            <div class="card-text italic">
              <div class="strong"><strong>Teléfono: </strong><%= pray_petition.phone_number %></div>
            </div>
            <div class="card-text">
              <div class="strong">
                <strong>Petición:</strong>
                <p class="font-italic"><%= pray_petition.pray_for %></p>
              </div>
            </div>
            <%= form_with(model: pray_petition, url: pray_petition_finished_path(pray_petition), method: :post) do |form| %>
              <%= form.button(type: 'submit', class: "btn btn-sm btn-secondary") do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-circle" viewBox="0 0 16 16">
                  <path d="M2.5 8a5.5 5.5 0 0 1 8.25-4.764.5.5 0 0 0 .5-.866A6.5 6.5 0 1 0 14.5 8a.5.5 0 0 0-1 0 5.5 5.5 0 1 1-11 0z"/>
                  <path d="M15.354 3.354a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0l7-7z"/>
                </svg>  Lista
              <% end %>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
